*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Electrolize', monospace;
    background: rgba(8, 15, 15, 1);
}
#navbar{
    position: fixed;
    padding: 10px 5px;
    top: 0px;
    width: 100%;
    background: rgba(164, 186, 183, 1);
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}
li a{
    text-decoration: none;
    color: rgba(8, 15, 15, 1);
    font-size: clamp(1rem, 3vw, 1.5rem);
    padding: 0px 20px;
}
#welcome-section{
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 45vh 0px;
}
h1{
    font-size: clamp(3rem, 7vw, 8rem);
    color: rgba(164, 186, 183, 1);
}
span{
    font-size: clamp(1rem, 2.25vw, 5rem);
    color:  rgba(165, 36, 34, 1);
}
#projects{
    text-align: center;
    padding: 10vh 2vw;
    background: rgb(108 126 148)
}
#projects h2 {
    font-size: clamp(2rem, 4.25vw, 6rem);
}
#projects h3 {
    font-size: clamp(1rem, 2.25vw, 5rem);
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
    grid-gap: 2rem;
    max-width: 1280px;
    margin: 4rem auto;
}
.project-tile{
    background: rgb(77 93 136);
    border-radius: 1%;
    text-decoration: none;
}
.project-tile p{
    font-size: clamp(1rem, 3vw, 1.5rem);
    padding-bottom: 10px;
    color: rgba(8, 15, 15, 1);
}
.project-image{
    padding: 10px;
    width: 100%;
    object-fit: cover;
}
#contact{
    text-align: center;
    padding: 40vh 2vw;
    height: 90vh;
}
#contact h2{
    font-size: clamp(2rem, 4.25vw, 6rem);
    color: rgb(190, 241, 235);
}
#contact-links{
    margin-top: 20px;
}
.profile-link{
    display: inline-block;
    text-decoration: none;
    color: rgba(164, 186, 183, 1);
    font-size: clamp(1.75rem, 3.75vw, 2.75rem);
    margin: 10px 20px;
    transform: scale(1);
    transition: transform 0.3s, color 0.3s ease-out;
}
.profile-link:hover{
    transform: translateY(-3px);
    color: rgb(202, 255, 248);
}
footer{
    height: 10vh;
    text-align: end;
    padding: 3vh;
}
footer span{
    color: rgba(164, 186, 183, 1);
}
@media (max-width: 600px){
    nav ul{
        justify-content: center;
    }
}
@media (max-width: 320px){
    #projects{
        padding: 10vh 0px;
    }
}